#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Use pre-built frontend bundle from the source tree.
	:

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install PREFIX=/usr

override_dh_auto_test:
	:
